:root {
  --primary: #b11a1a;
  --primary-hover: rgba(236, 180, 28, 0.815);
  --secondary: rgba(12, 24, 110, 0.951);
  --secondary-hover: rgb(46, 118, 149);
  --light: #fafafa;
  --dark: #000;
  --spacing: calc(1rem);
}

main {
  margin: 0 auto;
  max-width:  90%;
  padding: 50px 30px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', monospace;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 500  !important;
  line-height: 1.5 !important;
  letter-spacing: .1em !important;
  background-color: var(--dark)  !important;
  color: var(--light) !important;
  line-height: 1.5 !important;
}

.my-2 {
  margin: var(--spacing) 0;
}
.mx-2 {
  margin: 0 var(--spacing);
}

h1 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  font-size: 2.25rem;
  text-align: center;
}

h2 {
  margin: 5px 0;
  line-height: 1.5;
  text-decoration: underline;
}

h4 {
  margin: 10px 0;
  line-height: 1.25;
  text-decoration: underline;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  color: var(--light);
}

a {
  color: var(--tertiary) ;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 10px 0;
  text-align: center;
  align-items: center;
  width: 100%;
}


header a {
  text-decoration: none;
  color: var(--light);
}

header a:hover {
  color: var(--primary);
  text-decoration: underline;
}


nav {
  width: 100%;

  z-index: 9999;
}

nav ul {
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  width: 20%;
  list-style: none;
  color: var(--light);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: disc;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.about {
  display: inline-block;
  overflow: hidden;
}

.about-h2 {
  text-align: center;
  text-decoration: none;
}
.about-div {
  text-align: center;
  border-bottom: var(--primary)  dashed;
  margin-bottom: 5%;
}
.about-img-div{
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-evenly;

}
.contact {
  align-items: center  !important;
}
.contact-form {
  display: inline-block;
  align-items: center !important;
}

.contact a {
  color: var(--primary);
}
.resume-section {
  text-align: center;
}

.resume-section li {
  list-style: none;
}

.btn {
  background-color: var(--primary) !important;
  border-color: #000 !important;
  color: var(--light) !important;
}

.btn2 {
  background-color: var(--secondary) !important;
  border-color: #000 !important;
}

.btn:hover {
  background-color: var(--primary-hover) !important;
}

.btn2:hover {
  background-color: var(--secondary-hover) !important;
}
.about-img {
  max-width: 100%;
  max-height: 100%;
}

.link-icons {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2.5em;
  justify-content: center;
}

.project-section {
  position: relative;
  flex-wrap: wrap;
}

.project-heading {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  
}
.project-card {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  height: auto;
  background-color: var(--dark) !important;
}


.project-body {
  background-color: black;
}

.footer {
  bottom: 0;
  padding-top: 10px;
  padding-bottom:  8px;
  width: 100%;
  background-color: var(--light);
}

.footer ul {
  justify-content: center;
  align-items: center;
}

.navActive {
  color: var(--primary);
}

@media only screen and (max-width: 1024px){
  body {
    background-size: auto 100%;
    width: 100%;
  }

  nav {
    width: 100%;
    
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav ul li {
    width: auto;
  }
  .about {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .about-div {
    border-bottom: none;
  }
  .about-img-div{
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 768px){
  body {
    background-size: auto 100%;
    width: 100%;
  }

  nav {
    width: 100%;
    
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav ul li {
    width: auto;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-div {
    border-bottom: none;
  }
  .about-img-div{
    height: auto;
    width: auto;
  }
  .contact-form {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 480px){
  body {
    background-size: auto 100%;
    width: 100%;
  }
  nav {
    width: 100%;
    
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav ul li {
    width: auto;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-div {
    border-bottom: none;
  }
  .about-img-div{
    height: auto;
    width: auto;
  }
  .contact-form {
    display: inline-flex;
    flex-wrap: wrap;
  }
}